@font-face {
          font-family: 'icomoon';
          src:  url('../fonts/icomoon.eot');
          src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
          url('../fonts/icomoon.ttf') format('truetype'),
          url('../fonts/icomoon.woff') format('woff'),
          url('../fonts/icomoon.svg') format('svg');
          font-weight: normal;
          font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
          /* use !important to prevent issues with browser extensions that change fonts */
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;

          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
                            content: "\e924";
                  }
.icon-transfer:before {
          content: "\e922";
}
.icon-flag:before {
          content: "\e923";
}
.icon-user:before {
          content: "\e921";
}
.icon-back:before {
          content: "\e900";
}
.icon-blocks:before {
          content: "\e901";
}
.icon-briefcase:before {
          content: "\e902";
}
.icon-calendar:before {
          content: "\e903";
}
.icon-certificate:before {
          content: "\e904";
}
.icon-chat:before {
          content: "\e905";
}
.icon-clipboard:before {
          content: "\e906";
}
.icon-clock-circular-outline:before {
          content: "\e907";
}
.icon-diploma:before {
          content: "\e908";
}
.icon-down-arrow:before {
          content: "\e909";
}
.icon-edit:before {
          content: "\e90a";
}
.icon-envelope:before {
          content: "\e90b";
}
.icon-exam:before {
          content: "\e90c";
}
.icon-facebook:before {
          content: "\e90d";
}
.icon-google-plus:before {
          content: "\e90e";
          color: #f34a38;
}
.icon-info:before {
          content: "\e90f";
}
.icon-instagram:before {
          content: "\e910";
}
.icon-list:before {
          content: "\e911";
}
.icon-logo:before {
          content: "\e912";
}
.icon-logout:before {
          content: "\e913";
}
.icon-menu:before {
          content: "\e914";
}
.icon-mortarboard:before {
          content: "\e915";
}
.icon-next:before {
          content: "\e916";
}
.icon-notebook:before {
          content: "\e917";
}
.icon-pencil:before {
          content: "\e918";
}
.icon-phone-call:before {
          content: "\e919";
}
.icon-placeholder:before {
          content: "\e91a";
}
.icon-twitter:before {
          content: "\e91b";
}
.icon-university-lecture:before {
          content: "\e91c";
}
.icon-whatsapp .path1:before {
                             content: "\e91d";
                             color: rgb(44, 183, 66);
                   }
.icon-whatsapp .path2:before {
                             content: "\e91e";
                             margin-left: -1em;
                             color: rgb(255, 255, 255);
                   }
.icon-whatsapp-logo:before {
          content: "\e91f";
}
.icon-youtube-logo:before {
          content: "\e920";
}