$corPadraoAzul: #0f183e;
$corPadraoAzulOpaco: #243373;
$corPadraoVermelho: #d1161b;
$corPadraoAmarelo: #ffbc49;
$corTextos: #636363;
$corTextosSecundaria: #767676;
$corBranco: #ffffff;
$corPreto: #000000;
$bgCinza: #f3f4f9;

$fontePadrao: 'Roboto', sans-serif;
$fonteAdicional: 'Bree Serif', serif;

$breakMobile: 575.98px;
$breakSmall: 767.98px;
$breakMedium: 991.98px;
$breakLarge: 1199.98px;